@use 'sass:map';


$settings: ();


/// Get setting by key
/// @param {string} $keys
/// @return {mixed} *
@function get($keys...) {
	@return map.get($settings, $keys...);
}


/// Assign value to setting key
/// @param {string} $key
/// @param {mixed} $value
@mixin set($key, $value) {
	$settings: map.set($settings, $key, $value) !global;
}


/// Assign map to settings
/// @param {map} $map
@mixin set_deep($map) {
	$settings: map.deep_merge($settings, $map) !global;
}
