@use 'sass:map';

$breakpoints: (
	zo: 0,
	tn: 384px,
	sm: 512px,
	md: 640px,
	av: 768px,
	ch: 960px,
	lg: 1152px,
	xl: 1344px,
	yl: 1536px,
);

// A max-width container includes outer gutter as padding, therefore its
// content appears to be narrower than the nominal max-width specified here
$content_max_width: map.get($breakpoints, lg);
$content_max_width_extended: map.get($breakpoints, xl);

$grid_columns: 12;

// TODO: make this work
// $grid_columns: (
// 	zo: 6,
// 	md: 12,
// );

$gutter_base_x: 16px;
$gutter_base_y: 48px;
$gutter_base_outer: 48px;
$gutter_base_outer_extended: 240px;

$gutter_stepped_scale: (
	zo: 0.5,
	sm: 1,
	av: 2.5,
	lg: 4,
	yl: 6,
);

:root {
	--gutter-x: #{$gutter_base_x};
	--gutter-y: #{$gutter_base_y};
	--gutter-outer: #{$gutter_base_outer};
	--gutter-stepped-x: #{$gutter_base_x};
	--gutter-stepped-y: #{$gutter_base_y};
	--gutter-stepped-outer: #{$gutter_base_outer};
	
	@each $breakpoint, $scale in $gutter_stepped_scale {
		@include b($breakpoint) {
			--gutter-stepped-x: #{round($gutter_base_x * $scale)};
			--gutter-stepped-y: #{round($gutter_base_y * $scale)};
			--gutter-stepped-outer: #{round($gutter_base_outer * $scale)};
		}
	}
}

// TODO: what is the advantage of using CSS variables?
$gutter_fixed: (
	x: $gutter_base_x,
	y: $gutter_base_y,
	outer: $gutter_base_outer,
	// x: var(--gutter-x),
	// y: var(--gutter-y),
	// outer: var(--gutter-outer),
);

$gutter_stepped: (
	x: var(--gutter-stepped-x),
	y: var(--gutter-stepped-y),
	outer: var(--gutter-stepped-outer),
);

// TODO: use same base gutter values for all gutter types
$gutter_flexible_min_x: 16px;
$gutter_flexible_max_x: 48px;
$gutter_flexible: (
	x: (
		$gutter_flexible_min_x,
		(truncate(calc($gutter_flexible_max_x / $content_max_width)) * 100vw),
		$gutter_flexible_max_x,
	),
	y: (
		20px,
		8vw,
		48px,
	),
	outer: (
		20px,
		6vw,
		48px
	),
);

$gutter_type: flexible !default;

$gutter: map.get((
	fixed: $gutter_fixed,
	stepped: $gutter_stepped,
	flexible: $gutter_flexible,
), $gutter_type);

$label_margin: 0 0 1em 0;
$label_padding: 1em 0.75em 0.5em 0.75em;
$label_border_width: 4px;
$label_border_color: #09f;

$item_label_padding: 2em 1em;

$color_warning: #f09;

$color_white: #fff;
$color_fog: #eee;
$color_smoke: #ddd;
$color_cement: #ccc;
$color_gray: #666;
$color_black: #000;

$color_purple: #90f;
$color_blue: #09f;
$color_pink: #f09;
$color_mint: #5ec;
