$font_scale_curve: 0.5;

// Breakpoints at which fonts start and stop scaling, can be overriden on a
// per-element basis
$font_scale_breakpoint_min: sm;
$font_scale_breakpoint_max: lg;

$all_font_sizes: (
	h1: (
		sm: 24px,
		ch: 36px fixed,
		lg: 40px, // TODO: fix this, it doesn't work
		// xl: 70px,
	),
	'h1.gap-after-fixed': (
		sm: 24px,
		av: 28px fixed,
		lg: 36px,
		yl: 36px,
	),
	'h1.fixed-last': (
		sm: 24px,
		ch: 28px fixed,
		// lg: 36px,
		xl: 70px fixed,
	),
	h2: (
		md: 18px,
		lg: 24px,
	),
	h3: 16px 20px,
	h4: 12px,
	h5: (
		sm: 23px,
	),
);
