$color_warning: #f09;

$color_white: #fff;
$color_fog: #eee;
$color_smoke: #ddd;
$color_cement: #ccc;
$color_gray: #666;
$color_black: #000;

$color_purple: #90f;
$color_blue: #09f;
$color_pink: #f09;
$color_mint: #5ec;


:root {
	--c-bg: #ccc;
	--c-header: #039;
	--c-text: #000;
	--c-button-bg: #606;
	--c-button-text: #fff;
}

[class*="v-"],
[cw-v] {
	background: var(--c-bg);
}

.v-dark,
[cw-v="dark"] {
	--c-bg: #069;
	--c-header: #f9f;
	--c-text: #fff;
	--c-button-bg: #9c0;
	--c-button-text: #063;
}

.v-light,
[cw-v="light"] {
	--c-bg: #eee;
	--c-header: #9cf;
	--c-text: #999;
	--c-button-bg: #c9c;
	--c-button-text: #666;
}

.v-loud,
[cw-v="loud"] {
	--c-bg: #f09;
	--c-header: #06f;
	--c-text: #000;
	--c-button-bg: #90f;
	--c-button-text: #000;
}
