@use '../util/stuff' as *;

// $show_item_boundaries: true;
$output_query_comments: true;

// Usage: const(STATE_NAV_MOBILE_WIDE)
$constants: (
	STATE_NAV_MOBILE: 'mobile nav',
	STATE_NAV_MOBILE_WIDE: 'wide mobile nav',
	STATE_NAV_DESKTOP: 'desktop nav',
	STATE_NAV_DESKTOP_WIDE: 'wide desktop nav',
);


// TODO: define nav states, or layout states in general
// $nav_states: (
// 	zo: const(STATE_NAV_MOBILE),
// 	md: const(STATE_NAV_MOBILE_WIDE),
// 	av: const(STATE_NAV_DESKTOP),
// 	lg: const(STATE_NAV_DESKTOP_WIDE),
// );


// @include b($bp_desktop_nav) {
// 	// Styles for desktop nav
// }

// TODO: we need constants!
// @include state($nav_states, 'mobile nav');


/*

// TODO: or possibly define "modes" with each breakpoint
// TODO: what are some possible modes or states that would warrant this type
// of approach, aside from main navigation changes?
$breakpoint_modes: (
	zo: 'mobile nav',
	md: (
		'wide mobile nav',
		'staff photos large',
	),
	av: 'narrow desktop nav',
	lg: (
		'desktop nav',
		'staff photos huge',
	),
);

// Or:
$breakpoint_modes: (
	'mobile nav': zo,
	'wide mobile nav': md,
	'narrow desktop nav': av,
	'desktop nav': lg,
	
	'staff photos large': md,
	'staff photos huge': lg,
);

*/


/*

Themes in Tailwind:
- Colors
- Not responsive

Variants in Crosswind:
- Colors
- Spacing
- Alignment
- Responsive

*/
