$font_scale_curve: 2;

// Breakpoints at which fonts start and stop scaling
// (can be overriden on a per-selector or per-element basis)
$font_scale_breakpoint_min: sm;
$font_scale_breakpoint_max: lg;

$all_font_sizes: (
	h1: (
		sm: 24px,
		// ch: 36px fixed,
		lg: 40px, // TODO: fix this, it doesn't work
		// xl: 70px,
		
		// Or ...
		// size: (
		// 	sm: 24px,
		// 	ch: 36px fixed,
		// 	lg: 40px,
		// 	xl: 70px,
		// ),
		// leading: 1.5 1.3,
		
		// Or ...
		// size: (
		// 	sm: 24px,
		// 	ch: 36px fixed,
		// 	lg: 40px,
		// 	xl: 70px,
		// ),
		// signature: 'sans bold upper',
	),
	'h1.gap-after-fixed': (
		sm: 24px,
		av: 28px fixed,
		lg: 36px,
		yl: 36px,
	),
	'h1.snap': (
		sm: 24px,
		ch: 44px snap 24px,
		yl: 36px,
	),
	'h1.fixed-last': (
		sm: 24px,
		ch: 28px fixed,
		// lg: 36px,
		xl: 70px fixed,
	),
	h2: (
		md: 18px,
		lg: 24px,
	),
	h3: 32px 44px,
	h4: 12px,
	h5: (
		sm: 23px,
	),
);

$font_style_signatures: (
	'sans regular',
	'sans bold',
	'sans bold upper',
	'sans light upper',
);

$all_line_heights: (
	h1: 25px 10px,
);

/*

// TODO: responsive line heights

Line heights are determined by:
- Font size
- Font family
- Font weight
- Case transform

Possible approach:
- For each font signature (a combination of family, weight, transform)
- Specify min- and max-breakpoint line heights
- Min-breakpoint line height is wider, for small text
- Max-breakpoint line height is narrower, for large text

Example:
$all_font_sizes: (
	'sans bold': 1.5 1.3,
	'sans bold upper': 1.7 1.5,
	'sans light upper': 1.8 1.6,
);

Do we really want this? Only if it assigns a line height that's appropriate for the current size, as sizes can scale non-linearly, and be fixed, and snap to other values. The min/max shouldn't indiscriminately scale line-height irrespective of font size. The min/max shouldn't be specific to a tag, which can have its own min/max breakpoint scale settings, but should be generally applicable to any tag that uses that signature.

*/
