$settings: (
	
	// 1 = Linear scaling
	// > 1 = Logarithmic scaling, ramping up
	// < 1 = Logarithmic scaling, ramping down
	font_scale_curve: 2,
	
	// Breakpoints at which fonts start and stop scaling
	font_scale_breakpoint_min: sm,
	font_scale_breakpoint_max: lg,
	
	font_size_base: 16px,
	
	// Round font sizes at every breakpoint
	font_size_round: false,
	
	// Output font properties automatically as a chain of CSS selectors, instead
	// of using mixin to output properties manually and selectively
	font_properties_auto_output: true,
	
	font_sizes: (
		h1: (
			sm: 20px,
			// ch: 36px fixed,
			lg: 40px, // TODO: this doesn't work after fixed keyword
			// xl: 70px,
			signature: sans_bold_upper,
		),
		'h1.gap-after-fixed': (
			sm: 24px,
			av: 28px fixed,
			lg: 36px,
			yl: 36px,
		),
		'h1.snap': (
			sm: 24px,
			ch: 44px snap 24px,
			yl: 36px,
			signature: sans_bold_upper,
		),
		// 'h1.fixed-last': (
		// 	sm: 24px,
		// 	ch: 28px fixed,
		// 	// lg: 36px,
		// 	xl: 70px fixed,
		// ),
		// h2: (
		// 	md: 18px,
		// 	lg: 24px,
		// ),
		// h3: 32px 44px,
		// 'h3.bork': (
		// 	size: 32px 44px,
		// 	signature: sans_bold
		// ),
		// h4: 12px,
		// h5: (
		// 	sm: 23px,
		// ),
	),
	
	font_properties: (
		default: (
			// family: default,
			leading: 5.5 1.3,
		),
		sans_bold: (
			// family: default,
			weight: 700,
			leading: 1.5 1.3,
		),
		sans_bold_upper: (
			// family: header,
			weight: 700,
			leading: 1.6 1.2,
			tracking: 0.2em 0.05em,
			case: uppercase,
		),
		sans_light_upper: (
			// family: default,
			weight: 300,
			leading: 1.8 1.6,
			tracking: 0.15em 0.05em,
			case: uppercase,
		),
	),
	
	font_families: (
		stack: (-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Noto Sans', 'Helvetica Neue', sans-serif),
		header: 'Headline',
		default: 'Fatima',
	),
	
);
