$settings: (
	
	// 1 = Linear scaling
	// < 1 = Logarithmic scaling, ramping up
	// > 1 = Logarithmic scaling, ramping down
	font_scale_curve: 2,
	
	// Breakpoints at which fonts start and stop scaling
	// (can be overriden on a per-selector or per-element basis)
	font_scale_breakpoint_min: sm,
	font_scale_breakpoint_max: lg,
	
	base_font_size: 16px,
	
	// TODO: allow defining them here without writing out their rules automatically, so they can be applied arbitrarily to elements (similar to @include all_font_sizes(h1))
	all_font_sizes: (
		h1: (
			sm: 20px,
			// ch: 36px fixed,
			lg: 40px, // TODO: this doesn't work after fixed keyword
			// xl: 70px,
			signature: font_sans_bold_upper,
		),
		'h1.gap-after-fixed': (
			sm: 24px,
			av: 28px fixed,
			lg: 36px,
			yl: 36px,
		),
		'h1.snap': (
			sm: 24px,
			ch: 44px snap 24px,
			yl: 36px,
			signature: font_sans_bold_upper,
		),
		// 'h1.fixed-last': (
		// 	sm: 24px,
		// 	ch: 28px fixed,
		// 	// lg: 36px,
		// 	xl: 70px fixed,
		// ),
		// h2: (
		// 	md: 18px,
		// 	lg: 24px,
		// ),
		// h3: 32px 44px,
		// 'h3.bork': (
		// 	size: 32px 44px,
		// 	signature: font_sans_bold
		// ),
		// h4: 12px,
		// h5: (
		// 	sm: 23px,
		// ),
	),
	
	all_font_properties: (
		default: (
			leading: 5.5 1.3,
		),
		font_sans_bold: (
			leading: 1.5 1.3,
		),
		font_sans_bold_upper: (
			leading: 1.6 1.2,
			tracking: 0.2em 0.05em,
		),
		font_sans_light_upper: (
			leading: 1.8 1.6,
			tracking: 0.15em 0.05em,
		),
	),
	
	/*
	
	// TODO: responsive line heights, letter spacing, etc (eventually variable font weight as well)
	
	Properties are determined by:
	- Font size
	- Font family
	- Font weight
	- Case transform
	
	Possible approach:
	- For each font signature (a combination of family, weight, transform)
	- Specify min- and max-breakpoint properties
	- Min-breakpoint line height and letter spacing are wider for small text
	- Max-breakpoint line height and letter spacing are narrower for large text
	
	Example:
	all_properties: (
		FONT_SANS_BOLD: (
			leading: 1.5 1.3,
		),
		FONT_SANS_BOLD_UPPER: (
			leading: 1.7 1.5,
			tracking: 0.2em 0.1em,
		),
		FONT_SANS_LIGHT_UPPER: (
			leading: 1.8 1.6,
			tracking: 0.15em 0.05em,
		),
	),
	
	This will only work if it assigns properties that are appropriate for the current size, as sizes can scale non-linearly, and can be fixed, and can snap to other values. The min/max shouldn't indiscriminately scale the property irrespective of font size. The min/max shouldn't be specific to a tag, which can have its own min/max breakpoint scale settings, but should be generally applicable to any tag that uses that signature.
	
	*/
	
);
