$settings: (
	
	/*
	Themes in Tailwind:
	- Colors
	- Not responsive
	
	Goals for variants in Crosswind:
	- Colors
	- Spacing
	- Alignment
	- Responsive
	*/
	
	variant_class_prefix: v,
	variants: (
		default: (
			bg: white,
			header: blue,
			text: gray,
			button_bg: pink,
			button_text: black,
			button_icon: black,
			line: black 30%,
			border: blue 0.4,
		),
		light: (
			bg: fog,
			inherit: loud,
			// header: cement,
			// button_bg: cement,
			// button_text: white,
		),
		dark: (
			bg: black,
			header: gray,
			text: white,
			button_bg: purple,
			button_text: white,
			line: gray,
		),
		loud: (
			bg: blue,
			header: purple,
			text: pink,
			button_bg: mint,
		),
		pink: (
			bg: pink,
			header: white,
			text: white,
			button_bg: white,
			button_text: pink,
		),
		extra_dark: (
			bg: black,
			header: gray,
			button_bg: gray,
			line: gray,
			// missing_from_default: pink,
		),
	),
	
);
